body {
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.courses {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 5em;
}

.courses li {
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}


.courses .text {
    position: relative;
    top: -3px;
}


.delete {
    float: right;
    margin-top: 2px;
    margin-right: .7em;
    background-color: red !important;
    color: white;
}