@*@model EmployeeMVC.Models.Employee*@

@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select</h2>

<p>
@using (Html.BeginForm())
{
    <p>
    @Html.Label("Select an Employee: ")
    &nbsp;&nbsp;
    @Html.DropDownList("employee", (SelectList)ViewBag.employee, "---Select An Employee---",new { @onchange = "this.form.submit();" })
     </p>
}
</p>
